<ion-header>
  <ion-navbar>
    <ion-title>Escolha sua bebida</ion-title>
  </ion-navbar>
</ion-header>
<style>

.resize {

    max-width: 20%;
}

</style>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of lista_drinks | async">
  
        <ion-card (click)="goToNfcPage(item)">
          <img class="resize" src="../assets/images/gimlet.jpg"    />
          <ion-card-content>
            <ion-card-title>
              {{item.title}}
            </ion-card-title>
            <p>
              {{item.bebidas}}  Valor {{item.valor | currency:'USD':false}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-list>
    <!-- <ion-item class="text" *ngFor="let item of lista_drinks | async">
       {{item.title}} <br>
       {{ item | json }}
    </ion-item> -->
    <h1>Garrafas posicoes </h1>
    <ion-row>
      <ion-col *ngFor="let item of pos_bebidas | async"> 
          <ion-card >
              <img src= "{{item.url}}"/>
              <ion-card-content>
                <ion-card-title>
                  {{item.tipo}}
                </ion-card-title>
                <p>
                  {{item.pos}} 
                </p>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
    <ion-item class="text" *ngFor="let item of pos_bebidas | async">
        {{item.$value}} <br>
        {{ item | json }}
     </ion-item>
     <h1> Sua fila de pedidos </h1>
     <ion-item class="text" *ngFor="let item of fila_drinks | async">
         {{ item | json }}
       {{item.$value}}
   </ion-item>
 </ion-list>

</ion-content>
